@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main-color: #dc3237;
  --sec-color: #eb585c;
  --third-color: #f18487;

  --c-bg1: #ffffff;

  --h-bg1: #eff1f4;

  --c-bg2: #f9fafb;

  /* --h-bg1: #eff1f4;
  --c-bg2: #eff1f4; */

  --c-black: #000000;
  --c-white: #ffffff;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-track {
  background-color: var(--c-black);
}

.friendsInModal::-webkit-scrollbar { 
  display: none;
} 

a {
  text-decoration: none;
  color: black;
}
@layer base {
  .trans {
    @apply transition-all duration-200;
  }
}


/* @keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
} */
